.country-name {
  font-size: 3em;
  padding:0em
}

.card {
    display: flex;
    border-left: 5px solid red;
    margin: 3em;
    border-style: outset;
    justify-content: space-between;
}

 .country-code {
       font-size: 0.50em;
 }

 .card-btn {
   width: 4em;
   background: inherit;
    border: none;
    cursor: pointer;
 }
 .stat {
       padding: 0em 0em;
    margin: 0.5em
 }
 .recent-sect {
       font-size: .75em;
           display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0em 2em;
 }

 .integer {

 }

 .button-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 /* img {
   width: 1em;
   background: inherit
 }  */