.App {
  text-align: center;
  background-color: #ffffff;
  color: #1d3557;
}

button {
  cursor: pointer;
}

.red {
  color: #e63946;
  font-weight: 900;
  font-size: 2em;
}

.green {
  color: #29bf12;
  font-weight: 900;
  font-size: 2em;
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.active {
  border: 3px green solid;
  border-radius: 6px;
  height: fit-content
}

.App-link {
  color: #61dafb;
}

.main-display {
  display: flex;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


