.nav-bar {
  background-color: #457b9d;
  color: #f1faee;
  margin: 3em;
    padding: 1.5em;
    height: 39em;
    max-width: 13em;
        border-radius: 5px;
}

a {
  color: #f1faee;
  padding: 0.25em;
}
.nav-resource {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.rtrn-btn {
  width: 5em;
  background: inherit;
  border: none;
}

.nav-btn {
  background-color: #1d3557;
  color: #f1faee;
  border: none;
  width: 100%;
  height: 2em;
  font-size: 1em;
  border-radius: 5px;
}

.combobox {
  margin-bottom: 1em;
}

.submit {
  width: 13em
}